".source.js":
    "array.filter":
        "prefix": "filter"
        "body": """
                filter($0)
                """
    "array.map arrow":
        "prefix": "filtera"
        "body": """
                filter(item => ${0:item})
                """
    "array.filter muti arrow f":
        "prefix": "filterma"
        "body": """
                filter(${2:item} => {
                \t${0:// body...maybe empty}
                \treturn
                })
                """
    "array.map":
        "prefix": "map"
        "body": """
                map($0)
                """
    "array.map arrow":
        "prefix": "mapa"
        "body": """
                map(item => ${0:item})
                """
    "array.map muti arrow f":
        "prefix": "mapma"
        "body": """
                map(${2:item} => {
                \t${0:// body...}
                \treturn
                })
                """
    "array.reduce":
        "prefix": "reduce"
        "body": """
                reduce($0)
                """
    "array.reduce arrow f":
        "prefix": "reducea"
        "body": """
                reduce((${2:previousValue}, ${3:currentItem}) => {
                \t${0:// body...maybe empty}
                \treturn
                })
                """
    "array.forEach":
        "prefix": "forEach"
        "body": """
                forEach($0)
                """
    "array.forEach muti arrow f":
        "prefix": "foreachma"
        "body": """
                forEach(${2:item} => {
                \t${0:// body...}
                })
                """
    "sequence from 0 to n":
        "prefix": "sequence"
        "body": """
                [...Array(${1:length}).keys()]${0}
                """
    "array.find":
        "prefix": "find"
        "body": "find($0)"
    "array.find muti arrow f":
        "prefix": "findma"
        "body": "find((${1:item}) => {
                \t${0:body}
                \treturn
                })"
