'.source.js':
    'Promise.all':
        'prefix': 'all'
        'body': 'Promise.all($0)'
    'Promise.then':
        'prefix': 'then'
        'body': 'Promise.then($0)'
    'arrow function':
        'prefix': 'afun'
        'body': """${1:arguments} => {
                    ${2:statement}
                }
                """
    'console.dir':
        'prefix': 'dir'
        'body': 'console.dir($0)'
    'console.log':
        'prefix': 'log'
        'body': 'console.log($0)'
