".source.js, .source.jsx, .source.ts":
    'console.dir':
        'prefix': 'dir'
        'body': 'console.dir($0)'
    'console.log':
        'prefix': 'log'
        'body': 'console.log($0)'
    'console.error'
        'prefix': 'error'
        'body': 'console.error($0)'
