".source.js, .source.jsx, .source.ts":
    "JSON.stringify":
        "prefix": "js"
        "body": "JSON.stringify(${0:obj})"
    "JSON.parse":
        "prefix": "jsonp"
        "body": "JSON.parse(${0:string})"
