".source.js, .source.jsx, .source.ts":
    "import":
        "prefix": "import"
        "body": "import { ${1} } from '${0}'"
    "require":
        "prefix": "require"
        "body": """
                require("${1:module}")
                """
    "module.exports":
        "prefix": "module"
        "body": """
                module.exports = ${1:name}
                """
