".source.js, .source.ts, .source.tsx":
    "on event handler":
        "prefix": "on"
        "body": "on('${2:event}', (${3:arguments}) => {${0}})"
    "setInterval":
        "prefix": "setInterval"
        "body": """
                setInterval(function() {
                \t${0:// body...}
                }, ${1:delay})
                """
    "setTimeout":
        "prefix": "setTimeout"
        "body": """
                setTimeout(function() {
                \t${0:// body...}
                }, ${1:delay})
                """
