".source.js, .source.jsx, .source.ts":
    'react class':
        'prefix': 'react class'
        'body': """
                    import React, { Component } from 'react'

                    class ${1:className} extends Component {
                        constructor() {
                            super()
                        }

                        render() {
                            return (
                                <div>
                                </div>
                            )
                        }
                    }

                    export default ${1:className}
                """
    'className react':
        'prefix': 'className'
        'body': 'className="$0"'
    'setState react':
        'prefix': 'setState'
        'body': 'setState'
    'preventDefault':
        'prefix': 'preventDefault'
        'body': 'preventDefault()'
    'stopPropagation':
        'prefix': 'stopPropagation'
        'body': 'stopPropagation()'
    'onClick react mutiline':
        'prefix': 'onClickm'
        'body':"""onClick={() => {
                \t$0
                }}"""
    'onClick react':
        'prefix': 'onClick'
        'body':'onClick={$0}'
    'onChange react mutiline':
        'prefix': 'onChangem'
        'body':"""onChange={() => {
                \t$0
                }}"""
    'onChange react':
        'prefix': 'onChange'
        'body':'onChange={$0}'
    'componentWillMount':
        'preifx': 'componentWillMount'
        'body': """componentWillMount() {
                \t$0
                }"""
    'componentDidMount':
        'prefix': 'componentDidMount'
        'body': """componentDidMount() {
                \t$0
                }"""
    'componentDidUpdate':
        'prefix': 'componentDidUpdate'
        'body': """componentDidUpdate() {
                \t$0
                }"""
