".source.js, .source.ts, .source.tsx":
    "String":
        prefix: "String"
        body: "String"
    "Number":
        prefix: "Number"
        body: "Number"
    "Object":
        prefix: "Object"
        body: "Object"
    "Array":
        prefix: "Array"
        body: "Array"
    "Date":
        prefix: "Date"
        body: "Date"
    "RegExp":
        prefix: "RegExp"
        body: "RegExp"
    "typeof equal":
        prefix: "typeof"
        body: "typeof ${1:source} === '${2:type}'"
    "typeof":
        prefix: "typeof"
        body: "typeof"
    "instanceof":
        prefix: "instanceof"
        body: "instanceof ${2:Object}"
